# Application
APP_PORT=8002
APP_ENV=production
ENVIRONMENT=dev

# Logging
LOG_LEVEL=INFO
APP_LOGGER_NAME=analytics.service_logs
API_LOGGER_NAME=analytics.api_logs

# PostgreSQL
POSTGRES_HOST=analytics_db
POSTGRES_PORT=5431
POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

# Redis
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=redis_pass

# Kafka
KAFKA_BOOTSTRAP_SERVERS="kafka:9092"
KAFKA_ACKS=1
KAFKA_RETRIES=3
KAFKA_ENABLE_IDEMPOTENCE=True

KAFKA_HOST=kafka
KAFKA_EXTERNAL_PORT=29092
KAFKA_INTERNAL_PORT=9092
KAFKA_CONTROLLER_PORT=9093

KAFKA_NODE_ID=1
KAFKA_PROCESS_ROLES=broker,controller
KAFKA_CONTROLLER_LISTENER_NAME=CONTROLLER
KAFKA_INTER_BROKER_LISTENER=PLAINTEXT

KAFKA_REPLICATION_FACTOR=1
KAFKA_MIN_ISR=1
KAFKA_AUTO_CREATE_TOPICS=true
KAFKA_LOG_RETENTION_HOURS=168

KAFKA_CLUSTER_ID=MkU3OEVBNTcwNTJENDM2Qk