# Application
APP_PORT=8000
APP_ENV=production
ENVIRONMENT=dev              # dev, staging, prod

# Logging
LOG_LEVEL=INFO
APP_LOGGER_NAME=backend.service_logs
API_LOGGER_NAME=backend.api_logs

# PostgreSQL
POSTGRES_HOST=database
POSTGRES_PORT=5432
POSTGRES_DB=payment_db
POSTGRES_USER=payment_user
POSTGRES_PASSWORD=payment_pass

# Redis
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=redis_pass

# Kafka (KRaft, single-node)
KAFKA_HOST=localhost
KAFKA_EXTERNAL_PORT=29092
KAFKA_INTERNAL_PORT=9092
KAFKA_CONTROLLER_PORT=9093

KAFKA_NODE_ID=1
KAFKA_PROCESS_ROLES=broker,controller
KAFKA_CONTROLLER_LISTENER_NAME=CONTROLLER
KAFKA_INTER_BROKER_LISTENER=PLAINTEXT

KAFKA_REPLICATION_FACTOR=1
KAFKA_MIN_ISR=1
KAFKA_AUTO_CREATE_TOPICS=true
KAFKA_LOG_RETENTION_HOURS=168

# Сгенерировать один раз: docker run --rm confluentinc/cp-kafka:7.6.1 kafka-storage random-uuid
KAFKA_CLUSTER_ID=<YOUR_CLUSTER_ID>

